

/*=========================================================================================*/
/*header*/
header{
	background-color: white;
	text-align: left;
	float: center;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 90%;
}




/*=========================================================================================*/

body{
	background-image: url("monde.jpg"); 
	background-size: cover;
	//font-family: Arial, Helvetica, sans-serif;
}

/*========================================================================================*/
.acceuil{
	width: 40%;
	background-color: white;
	text-align: center;
	float: center;
	margin-left: 20px;
	margin-right: auto;
	height: 200px;
}

.navigation_apropos{
	float: left;
	width: 30%;
	margin-left: 25px;
}

.infos_apropos{
	float : right;
	width: 60%;
}
.identification_acceuil{
	width: 40%;
	background-color: transparent;
	text-align: center;
	float: right;
	margin-left: auto;
	margin-right: 20px;
	height: auto;
}

.bouton_acceuil{
	text-align: center;
	background-color: transparent;
	margin-left: auto;
	margin-right: 100px;
	float: center;
	height: auto;

/*=========================================================================================*/
/*header*/
header{
	background-color: white;
	text-align: left;
	float: center;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 90%;
}

.body_gauche{
background-color: white;
text-align: left;
margin-left: 20px;
float: left;
width: 50%;
}

.menu{
	text-align: center;
	background-color: transparent;
	width: 100%;
}

.album_menu{
	text-align: center;
	background-color: transparent;
	width: auto;
	margin-left: 20px;
	margin-right: auto;
	width: 50%;
}
.contact{
	float:right;
	width: 20%;
	text-align: left;
	padding-left: 5px;
}
.album{
	text-align: center;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	width:100%;
}
.mes_amis{
	text-align: center;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	width:100%;
}
.activite{
	text-align: left;
	width: auto;
}
.authentification_entete{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
	width: 100%;
}
.authentification{
	background-color: white;
	text-align: center;
	float: center;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 50%;
}
.boutons_validation{
	text-align: center;
	background-color: white;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/*=========================================================================================*/
.acceuil{
	width: 40%;
	background-color: transparent;
	text-align: center;
	float: center;
	margin-left: 20px;
	margin-right: auto;
	height: 200px;
	font-size: 40px;
	font-weight: bold;
	font-family: 'LearningCurveProRegular', Arial, serif;
}

.navigation_apropos{
	float: left;
	width: 30%;
	margin-left: 25px;
}

.infos_apropos{
	float : right;
	width: 60%;
}
.identification_acceuil{
	width: 40%;
	background-color: transparent;
	text-align: center;
	float: right;
	margin-left: auto;
	margin-right: 100px;
	height: auto;
	font-size: 30px;
	font-weight: bold;
	font-family: 'LearningCurveProRegular', Arial, serif;
}

.bouton_acceuil{
	text-align: center;
	background-color: transparent;
	margin-left: auto;
	margin-right: 150px;
	float: center;
	height: auto;
	width: 30%;

}

.surlignage{
	background-color: white;
}
.body_gauche{
background-color: white;
text-align: left;
margin-left: 20px;
float: left;
width: 50%;
}

.menu{
	text-align: center;
	background-color: transparent;
	width: 100%;
}

.album_menu{
	text-align: center;
	background-color: transparent;
	width: auto;
	margin-left: 20px;
	margin-right: auto;
	width: 50%;
}
.contact{
	float:right;
	width: 20%;
	text-align: left;
	padding-left: 5px;
}
.album{
	text-align: center;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	width:100%;
}
.mes_amis{
	text-align: center;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	width:100%;
}
.activite{
	text-align: left;
	width: auto;
}
.authentification_entete{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
	width: 100%;
}


.chronologie_exprimezvous{
	float: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.chronologie_ajouterpiecesjointes{
	float: left;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.commentaire{
	text-align: left;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

.image_publication{
	width: 90%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.parametres_publication{
	width: 90%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.identification_inscription{
	width: 70%;
	background-color: transparent;
	text-align: left;
	float: right;
	margin-left: auto;
	margin-right: 20px;
	height: auto;
}

.bouton_inscription{
	text-align: center;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 100%;
}
.conditions_generales{
	width: 65%;
	background-color: white;
	text-align: center;
	float: center;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 50%;
}
.boutons_validation{
	text-align: center;
	background-color: white;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.chronologie_exprimezvous{
	float: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.chronologie_ajouterpiecesjointes{
	float: left;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.commentaire{
	text-align: left;
	float: left;
	margin-left: auto;
	margin-right: auto;
}

.image_publication{
	width: 90%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.parametres_publication{
	width: 90%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.identification_inscription{
	width: 70%;
	background-color: transparent;
	text-align: left;
	float: right;
	margin-left: auto;
	margin-right: 20px;
	height: auto;
}

.bouton_inscription{
	text-align: center;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 100%;
	height: auto;
}
	
.conditions_entete{
	background-color: white;
	width:17%;
	text-align: center;
	margin-left: auto;
	float: center;
	margin-right: auto;
	height: auto;
	font-size: x-large;
}
.boutons_cg{
	width: auto;
	background-color: white;
	text-align: center;
	float: center;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}
#conteneur{
	display:flex;
	justify-content: space-around;
}


/*=========================================================================================*/
/*liens hypertext*/
a{
	color: blue;
}

a:hover{
	color: red;
}





/*=========================================================================================*/
/*footer*/
footer{
	background-color: #aaa;
	width:100%;
	margin-top: 20px;
	position:absolute;
	bottom : 0px;
	font-style:italic;
	font-size: small;
	text-align: center;
}